@font-face {
    font-family: "BambusaPro Regular";
    src: url("../fonts/bambusa_pro_regular.OTF");
}

@font-face {
    font-family: "Futura-Bol";
    src: url("../fonts/Futura-Bol.ttf");
}

@font-face {
    font-family: "Futura-Dem";
    src: url("../fonts/Futura-Dem.ttf");
}

@font-face {
    font-family: "Futura-Med";
    src: url("../fonts/Futura-Med.ttf");
}

@font-face {
    font-family: "SegoeUI";
    src: url("../fonts/SegoeUI.ttf") format("ttf"), url("../fonts/SegoeUI.eot") format("eot") url("../fonts/SegoeUI.woff") format("woff");
}
